%h2 
  %i.glyphicon.glyphicon-print
  &nbsp;
  Imprimir menús

%hr

.row
  .col-md-7
    = simple_form_for @envio, url: imprimir_menus_path, method: :post do |f|
      = f.input :desde, as: :datepicker
      = f.input :hasta, as: :datepicker

      .text-right
        = f.button :submit, 'Imprimir menús'

  .col-md-5
    #menus.panel-group{ "aria-multiselectable" => "true", role: "tablist" }
