// Place all the styles related to the platillos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.platillo-add {
  cursor: pointer;
  color: #999999;
  i { font-size: 3em; }
  border-style: dashed !important;
  text-align: center;

  &:hover {
    color: #555555;
  }
}
